.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
  }
  
  .flex-row {
    
    display: flex;
    flex-wrap: wrap;
   
  }