.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px;
    /* background-color: #d8e7db;
    border-radius: 10px; */
  }

  h2 {
    color: #2e5136;
  }
  
  .signup-form {
    width: 300px;
    margin-top: 20px;
    padding: 40px;
    background-color: #d8e7db;
    border-radius: 10px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border-style: hidden;
  }
  
  .error-message {
    color: red;
  }
  
  .submit-button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #2e5136;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }

  .submit-button:hover {
    background-color: #3c6b47;
  }
  
  .login-link {
    margin-top: 10px;
    color: #2e5136;
  }
  