header {
    background-color: #2e5136;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

h1 {
    margin: 10px;
    font-size: 40px;
    display: inline-flex;
}

img {
    margin-right: 10px;
    height: 60px;
    float: left;
}

.nav-bar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.nav-links {
    margin-right: 40px;
    list-style: none;
    padding: 10px;
    display: flex;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-bar a {
    color: #fff;
    transition: color 0.3s ease;
}

a:hover {
    color: #a2df96;
    transition: color 0.3s ease;
}

.nav-bar a :hover {
    color: #a2df96;
    transition: color 0.3s ease;
}