.Footer {
    background-color: #2e5136;
    color: #d8e7db;
    padding: 20px;
    text-align: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-text h2 {
    margin: 0;
    flex-direction: column;
}

.footer-logo img {
    width: 140px;
    height: auto;
}

.social-media-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-links img {
    width: 40px;
    height: auto;
    padding: 10px;
}

.copyight {
    margin-top: 20px;
    color: #d8e7db;
    font-size: 14px;
}

